body {
  position: relative;
  isolation: isolate;
  background: rgb(215, 225, 22);
}

body::before {
  content: "🫟️";
  position: fixed;
  font-size: min(60vmin, 800px);
  opacity: 0.9;
  pointer-events: none;
  z-index: -1;
}